.is-label{
  display: inline-block;
  color:#FFF;
  line-height: 1.3em;
  min-width: 1.3em;
  font-size: .9em;
  padding: 0;
  margin-left: 5px;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 99px;
}
