.site-logo{
  display: flex;
  align-items: center;
  margin-right: 30px;
  flex: 1;
  max-width: 200px;
  min-width: 100px;
  min-height: 80px;
  transition: opacity .5s;

  .stuck & {
    min-height: 60px;
  }
}

.site-title{
  font-size: 1.5em;
  white-space: nowrap;
  margin-bottom: 0;
}

.custom-logo-link + .site-title {
  display: none;
}

.site-logo img{
  display: block;
}
