/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:0 0 1em;
  width: 100%;
}

td,
th {
  padding: 5px 0;
  border-bottom: 1px solid $border-color-light;
}
th{
  font-size: .9em;
  font-weight: 600;
  text-align: left;
}
th:last-child,
td:last-child,
th + td{
  text-align: right;
}
td p,
td img{
  margin:0;
  padding:0;
  display: block;
}
