$dir: 'ltr';
$left: 'left';
$right: 'right';

$primary-color: #344563;
$secondary-color: #f5a42a;

/* Screen sizes */
$small-screen: 721px;
$medium-screen: 949px;

/* Border */
$border-color: #ddd;
$border-color-light: #ececec;

/* Forms */
$form-height: 2.2em;

/* Easing */
$easing: cubic-bezier(0.075, 0.82, 0.165, 1);
